.wishConfirmBody {
    display: flex;
    flex-direction: column;
}

.wishConfirmTitleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
}

.wishConfirmTitle {
    padding-bottom: 1rem;
}

.wishConfirmTitleOne {
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wishConfirmTitleTwo {
    color: #8B00FF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wishConfirmBoxContainer {
    display: flex;
    flex-direction: column;
    padding-left: 16rem;
    padding-bottom: 2rem;
}

.wishConfirmBox {
    padding-bottom: 1.5rem;
}

.wishConfirmBoxTitle {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wishConfirmBoxDesc {
    color: #545454;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 3rem;
    padding: 1.5rem;
    cursor: pointer;
    display: inline-block;
    width: 2rem;
    text-align: center;
}

.rating label:before {
    content: '\2605';
    display: block;
    color: #B5B5B5;
}

.rating input:checked ~ label:before {
    color: #8B00FF;
}

.rating label:hover:before,
.rating label:hover ~ label:before {
    color: #8B00FF;
}

.feedbackInput {
    width: 75%;
    height: 10rem;
}

.bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.submitButton {
    color: #8B00FF;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-top: 2rem;
    width: 25%;
    padding-bottom: 3rem;
}

.submitBtn:hover {
    cursor: pointer;
    background-color: #7000CD;
}