/* payment.css */

.submitButton {
    display: flex;
    flex-direction: row;
    max-width: 32rem;
    gap: 5rem;
    padding-top: 1.25rem;
}

.submitBtn {
    width: 100%;
    background-color: #8B00FF;
    color: white;
    border: none;
    padding: 1rem 0;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.submit:hover {
    background-color: #7000CD;
}