.bottom {
    background: rgba(181, 181, 181, 0.30);
}

.bottomTitle {
    padding-top: 3rem;
    padding-left: 6.5rem;
    text-decoration: none;
}

.bottomTitleText {
    color: #8B00FF;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}

.bottomLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AppstoreLogo {
    width: 12rem;
    height: 12rem;
    padding-left: 5.8rem;
}

.bottomLinks {
    display: flex;
    flex-direction: row;
    padding-top: 2.25rem;
    padding-right: 2.5rem;
}

.bottomLinksTextBox {
    display: flex;
    flex-direction: column;
    padding-right: 4.8rem;
}

.bottomLinksText {
    color: #545454;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottomSocMed {
    display: flex;
    padding-top: 2.5rem;
    padding-left: 6.5rem;
    align-items: center;
}

.bottomSocMedFollowText {
    color: #545454;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottomSocMedLogo {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 1.5rem;
}

.bottomCopyright {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.bottomCopyrightText {
    color: #545454;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}