/* wish_form_additional.css */

.wishFormForAdditional {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.wishFormForAdditionalTitle {
    margin-bottom: 3rem;
}

.wishFormForAdditionalTitleText {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.wishFormForAdditionalTitleWish {
    font-size: 2rem;
    font-weight: bold;
    color: #8B00FF;
}

.wishFormForAdditionalContainer {
    width: 100%;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
}

.step3 {
    padding-bottom: 0.5rem;
}

.step3Text {
    font-size: 0.75rem;
    font-weight: 500;
    color: #000;
}

.wishFormForAdditionalSubTitle {
    padding-bottom: 2.5rem;
}

.wishFormForAdditionalSubTitleText {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
}

.deliveryInstruction {
    display: flex;
    width: 100%;
    max-width: 32rem;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
}

.deliveryInstructionInput {
    padding: 0.8rem;
    height: 10rem;
    border: 0.15rem solid #B5B5B5;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.attachFile {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
}

.deliveryInstructionText, .attachFileText {
    display: block;
    color: #545454;
    font-size: 1rem;
    font-weight: 500;
}

.backAndNextButtons {
    display: flex;
    flex-direction: row;
    max-width: 32rem;
    gap: 5rem;
    padding-top: 1.25rem;
}

.backButton {
    width: 100%;
    color: #8B00FF;
    border: 0.15rem solid #8B00FF;
    padding: 1rem 0;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.backButton:hover {
    color: white;
    background-color: #8B00FF;
}

.nextButton {
    width: 100%;
    background-color: #8B00FF;
    color: white;
    border: none;
    padding: 1rem 0;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.nextButton:hover {
    background-color: #7000CD;
}